@import "tailwindcss";

:root {
  --header-height: 72px;
}

@font-face {
  font-family: "MeetMe";
  src: url("/fonts/meetme.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.ttf") format("truetype");
}

@layer base {
  html, body, #__next {
    @apply w-full h-full;
  }

  img {
    @apply max-w-full h-auto block;
  }
}

/* 전체 폰트 => MeetMe */
html, body, * {
  @apply font-[MeetMe]
}

button {
  @apply cursor-pointer;
}

input, textarea, select, option {
  @apply font-[Pretendard];
}