@import "tailwindcss";

:root {
  --header-height: 72px;
}

@font-face {
    font-family: 'MitmiFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.ttf") format("truetype");
}

@font-face {
  font-family: "OkDanDan";
  src: url("/fonts/OkDanDan.ttf") format("truetype");
}

@font

@layer base {
  html, body, #__next {
    @apply w-full h-full;
  }

  img {
    @apply max-w-full h-auto block;
  }
}

/* 기본 폰트 */
html, body, * {
  @apply font-[MitmiFont]
}

button {
  @apply font-[OkDanDan];
  @apply cursor-pointer;
}

button:disabled {
  @apply cursor-not-allowed;
}

input, textarea, select, option {
  @apply font-[Pretendard];
}

/* 스크롤바 숨기기용 */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}